:root{
    --accent-color:#2196F3;
    --grey-text-color: #757575;
    --footer-efectivity-substrate-color:#2F303A;
    --our-command-substrate:#F5F4FA;
}
.active:hover{
    color: var(--accent-color);

    
}
.efectivity{
    color: rgb(255, 255, 255);
}
.Web{
    color: blue;
}

/* #up{
    max-width: 600px;
    text-align:10;
    color: rgb(30, 255, 0);
} */
/* Це початок header */
header>ul {
    color: rgb(20, 255, 235);
    font-family: 'Courier New', Courier, monospace;
}


.status{
    font-size: 30px;
}

.green{
   color: green; 
}

.orange{
    color: orange;
}

.red{
    color: red;
}

.test{
    background-color: rgba(255, 145, 0, 0.692);
}

.back{
    background-color: var(--footer-efectivity-substrate-color);
}

footer{
    background-color: var(--footer-efectivity-substrate-color);
}

.section{
    background-color: var(--our-command-substrate);
}

.efectivity{
    background-color: var(--footer-efectivity-substrate-color);
}

.button-order{
    background-color: var(--accent-color);
    color: white;
    border: none;
}

.webstudio{
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 26;
    font-style: bold;
}
.studio{
    color: black;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 26;
    font-style: bold;
}

.active-ground:hover{
    background-color: var(--accent-color);
}

.active {
    font-family: "Roboto", sans-serif;
    font-weight: 14;
    font-style: medium;
  }

  .fblack {
    font-family: "Roboto", sans-serif;
    font-weight: 14;
    font-style: normal;
  }
  
  .what {
    font-family: "Roboto", bold;
    font-weight: 36;
    font-style: medium;
  }

  .balk {
    font-family: "Roboto", black;
    font-weight: 36;
    font-style: medium;
  }

  .name {
    font-family: "Roboto", sans-serif;
    font-weight:16;
    font-style: medium;
  }

  .decrip {
    font-family: "Roboto", regular;
    font-weight: 16;
    font-style: normal;
  }
  
  .fo-font {
    font-family: "Roboto", regular;
    font-weight: 14;
    font-style: normal;
  }

  .balk2 {
    font-family: "Roboto", sans-serif;
    font-weight: 44;
    font-style: normal;
  }

  .name-2 {
    font-family: "Roboto", bold;
    font-weight: 18;
    font-style: normal;
  }
  
  
  .decrip-2 {
    font-family: "Roboto", sans-serif;
    font-weight: 16;
    font-style: normal;
  }
  
  
  