:root {
  --accent-color: #2196F3;
  --grey-text-color: #757575;
  --footer-efectivity-substrate-color: #2F303A;
  --our-command-substrate: #F5F4FA;
}

.active:hover {
  color: var(--accent-color);
}

/* .active{
  display: flex;
} */

.active-now{
  font-family: "Roboto";
  background-color: var(--accent-color);
  color: white;
  border: none;
  width: 73px;
height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 6%;
  border-radius: 4px;
  
}   

.efectivity {
  color: rgb(255, 255, 255);
  padding-top: 200px;
  padding-bottom: 280px;       
  background-color: var(--footer-efectivity-substrate-color);
  
}


.Web {
  color: blue;
}

/* #up{
    max-width: 600px;
    text-align:10;
    color: rgb(30, 255, 0);
} */
/* Це початок header */
header>ul {
  color: rgb(20, 255, 235);
  font-family: 'Courier New', Courier, monospace;
}


.status {
  font-size: 30px;
}

.green {
  color: green;
}

.orange {
  color: orange;
}

.red {
  color: red;
}

.test {
  background-color: rgba(255, 145, 0, 0.692);
}

.back {
  background-color: var(--footer-efectivity-substrate-color);
}

footer {
  background-color: var(--footer-efectivity-substrate-color);
  height: 252px;
  padding-top: 60px;
}

.section {
  background-color: var(--our-command-substrate);
}

.efectivity {
  background-color: var(--footer-efectivity-substrate-color);
  text-align: center;
}

.button-order {
  font-family: "Roboto";
  background-color: var(--accent-color);
  color: white;
  border: none;
  width: 216px;
  height: 50px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 6%;
  border-radius: 4px;
}

.webstudio {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  text-decoration: none;
  width: 145px;
  font-weight: 31px;
  
}

.studio {
  color: black;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.studio2 {
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 3%;
  width: 145px;
  height: 31px;
}

.active-ground {
  font-family: "Roboto";
  background-color: var(--our-command-substrate);
  color: black;
  border: none;
  width: 125px;
height: 38px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 30px;
  letter-spacing: 6%;
  border-radius: 4px;
}


.active {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 2%;
  text-decoration: none;
 

}

/* .what-we-do-item{
  

} */

.p-description {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  color: var(--grey-text-color);
}

.what-we-do {
  color: var(--footer-efectivity-substrate-color);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
  

}

.our-team-lisst {
  list-style: none;
  margin-bottom: 94px;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 30px;
}

.our-team{
  color: var(--footer-efectivity-substrate-color);
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 3%;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  
}

.section-our-team{
  
  background-color: var(--our-command-substrate); 
  margin-top: 188px;
  margin-bottom: 50px;

}

.what-we-do-list {
  list-style: none;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  gap: 30px;
  padding-left:0px ;
}

.main-buttons-list{
  list-style: none;
  display: flex;
  flex-direction: row; 
  justify-content: center;
}

.main-buttons-item{
  margin-right: 8px;
}

.our-team-picture-list {
  list-style: none;
}

.list-title {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 3%;
  margin-bottom: 10px;
  text-transform: uppercase;
  
}



 /* .our-team-item{
  margin-left: 30px;
}  */


.name {
  color: rgb(33, 33, 33);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 3%;
}

.decrip {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 3%;
  color: var(--grey-text-color);
}

.fo-font {
  font-family: "Roboto", regular;
  font-weight: 14;
  font-style: normal;
  list-style: none;
}

.fo-footer {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
}

.main-title {
  color: rgb(255, 255, 255);
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 6%;
  text-transform: uppercase;
   margin-top: 200px;
}

.name-2 {
  font-family: "Roboto", bold;
  font-style: normal;
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 6%;

}



.decrip-2 {
  color: rgb(117, 117, 117);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 3%;
  text-align: left;
  color: var(--grey-text-color);
}

.mailto {
  text-decoration: var(--grey-text-color);
  color: var(--grey-text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  display: flex;
align-content: flex-end;
}

.tel {
  text-decoration: var(--grey-text-color);
  color: var(--grey-text-colority-substrate-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3%;
  list-style: none;
  display: flex;
align-content: flex-end;
}

.header-list {
  list-style: none;
  display: flex;
  align-content: flex-start;
  gap: 50px;
}

.main-list {
  display: flex;
  list-style: none;
  margin-top: 94px;
  margin-bottom: 50px;
}

  .header-page{
  display: flex;
  margin-bottom: 32px;
}  

.main-list-2{
  list-style: none;
  margin-top: 94px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.what-w-d{
  margin-top: 94px;
  margin-bottom: 50px;
}


body {
  font-family: "Roboto";
}

.header-list-contacts{
list-style: none;
display: flex;
align-content: flex-end;
gap: 50px;
}

.container{
  width: 1170px;
  margin: 0 auto;
  outline: red 1px solid;
}



